
$menu-text-color: #262830;
$tomatored: #EC2D01;
$mossgreen: #009933;
$maindark: #2D3142;
$mainbright: #EF8354;


$coolors1: #2D3142;
$coolors2: #BFC0C0;
$coolors3: #FFFFFF;
$coolors4: #EF8354;
$coolors5: #4F5D75;
