@use 'defines';
@use 'cart';

h1,h2,h3 
{
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

body {
    font-family: "Orbitron", sans-serif;
}
textarea, p {

  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200; // Use a value from 200 to 800
  font-style: normal;
}

a {
    text-decoration: none;
    color:inherit;

}

.content {
    background-color: defines.$inputcolor;
}
.content {
    min-height: 100vh;
    padding:2rem;
}



header {
    position: sticky;
    top:0;
    background-color: defines.$coolors1;
    border-left: 10px solid defines.$mainbright;
    color: white;

    > div.header-content {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    nav, h2 { display: inline-block;}
    nav {
        $barheight: 0.25rem;
        height: 2rem;
        position: relative;
        cursor: pointer;

        > div {
            top:0;
            width: 2.5rem;
            height: $barheight;
            border-radius: 0.1rem;
            //background-color: defines.$coolors3;
            background-image:  linear-gradient(10deg,#7f7f81,#edf0f3,#7f8183);
            transition: all 0.2s ease-in-out;
            transform: rotate(0deg);
            &:nth-child(3n+2) {
                transform: translateY( calc(3 * $barheight - $barheight)   );
            }
            &:nth-child(3n) {
                transform: translateY( calc(6 * $barheight - 2 * $barheight) );
            }
        }
        
        &:hover {
            > div {
                background-color: #e0e0e0;
                $inset: 0.2rem;
                &:nth-child(3n+1) {
                    transform: translateY( -$inset   );
                }
                &:nth-child(3n) {
                    transform: translateY( calc(6 * $barheight - 2 * $barheight + $inset) );
                }
            }
        }
    }
    h2 {
        margin:0;
        margin-left:1rem;
        font-size: xx-large;
    }
    ul {
        list-style-type: none;

    }
    ul.menu {
        border-left: 10px solid defines.$mainbright;
        left: -10px;

        position: absolute;
        border-bottom-right-radius: 2rem;
        margin:0;
        background-color: defines.$coolors1;
        color: white;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.2s ease;
        border-top: 2px solid defines.$mainbright;
        padding: 3rem;
        min-width: 300px;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    }
    li {
        font-size: x-large;
        font-weight: 600;
        padding:1rem;
        
        border-bottom: 2px solid defines.$mainbright;
    }
    a {
        text-decoration: none;
        
    background-image:  linear-gradient(45deg,#7f7f81,#edf0f3,#7f8183);
    color: transparent;
    background-clip: text; 
    }
    img.logo {
        height: 40px;
        max-width: 40vw;
        padding:0;
        margin-left:2rem;
        margin-right:1rem;
    }
}
 

.cart {
    display: inline-block;
    margin-left: auto;
    padding:1rem;
    > img {
        height:40px
    }
}


.menu-open {
    transform: scaleY(1) !important;
}

footer {
    background-color: defines.$coolors1;
    border-top: 10px solid defines.$mainbright;
    padding:2rem;
    display: flex;

    justify-content: flex-start;
    ul, li {
        display: inline-block;
        font-size:larger;
         background-image:  linear-gradient(45deg,#7f7f81,#edf0f3,#7f8183);
        color: transparent;
        background-clip: text; 
    }
    li { margin-right: 1rem;}
    a {
        text-decoration: none;
    }
    > img {
        width: calc( min( 250px, 30vw) );
        margin-left: auto;
    }
}
.close-container {
    $size: 40px;
    $width:  $size;
    $height: $size;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: auto;
    position: relative;
    width: $width;
    height: $height;
    cursor: pointer;
    .leftright, .rightleft {
        height: 4px;
        width: $width;
        position: absolute;
        margin-top: 20px;
        background-color: defines.$menu-text-color;
        border-radius: 2px;
        transition: all .3s ease-in;

    }
    .leftright { transform: rotate( 45deg); }
    .rightleft { transform: rotate(-45deg); }

    &:hover {
        .leftright, .rightleft { background-color: defines.$tomatored; }
        .leftright { transform: rotate(-45deg); }   
        .rightleft { transform: rotate( 45deg); }
    }
}

button {
    border: 0.2rem solid defines.$mainbright;
    color: defines.$mainbright;
    background: none;

    padding:1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    &:disabled {
        color: #efefef !important;
        border-color: #efefef !important;
    }
}

button.red {
    border-color:defines.$tomatored ;
    background-color:defines.$tomatored ;
    color: white;
}
button.green {
    background-color:defines.$mainbright;
    border-color:defines.$mainbright ; 
    color: white;
}
.flex-start-container 
{
    display: flex;
    align-items: flex-start;
    :last-child {
        margin-left: auto;
    }
}
.front_page {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    h1 {
        color: defines.$coolors1;
    }
    a {
        text-decoration: none;
        color:black;
    }
}

.product_preview 
{
    display: inline-block;
    margin: 1rem;
    border-radius: 0.5rem;
    padding:0.5rem;
    background-color: white;
    width: 15rem;
    div.img_container {
        height: 15rem;
        img {
            border-radius: 0.5rem;
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }
    .footer {
        padding:0.5rem;
        display: flex;
        justify-content: left;
        span:first-child {
            font-weight: bold;
        }
        span:last-child {
            margin-left: auto;
        }
    }
}
.product-images{
    display: flex;
    align-items: start;
    .preview {
        > div {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
        }
        display: inline-block;
        width:10%;
        max-width:100px;
        .image_container {
            cursor: pointer;
            &:hover {
                opacity: 0.8;
            }
            margin:0.1rem;
            display: inline-block;
            > img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
    .main {
        width:90%;
        display: inline-block;
        .image_container {
            margin:0.1rem;
            max-height: 80vh;
            display: inline-block;
            > img {
                max-width: 100%;
                max-height: 80vh;
            }
        }
    }
}
.product {
    background-color: white;
    padding:1rem;
    border-radius: 0.5rem;


    .product-details {
        margin-left:0.5rem;
    }
    .price {
        font-weight: bold;
        font-size: x-large;
        margin-right: 1rem;
    }
    p {
        max-width: 700px;
    }

}


$layout-breakpoint-split: 1200px;


@media (min-width: $layout-breakpoint-split) {
  .split-when-large {
    display: flex;
    justify-content: left;
    > div {
        display: inline-block;
        max-width: 50%;
    }
  }
}

.category-bar 
{
    margin-bottom: 0.5rem;
    color: defines.$coolors5;
    > span {
        &::before {
            content: '/';
        }

    }
}

.category-showcase 
{
   > h2 {
    color: defines.$coolors1;
   } 
    > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        > a {
            > div {
                background-image:  linear-gradient(20deg,#7f7f81,#edf0f3,#7f8183);
                color: transparent;
                background-clip: text; 
            }
            border-radius: 1rem;
            text-align: center;
            vertical-align: center;
            font-size: x-large;
            display: inline-block;
            width:200px;
            padding:2rem;
            margin:1rem;
            color:defines.$coolors3;
            font-weight: bold;
            background-color: defines.$coolors1;
        }
    }
}

.category {
    background-image:  linear-gradient(45deg,#7f7f81,#edf0f3,#7f8183);
    color: transparent;
    background-clip: text; 
}

.product-previews 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.product-highlight {
    background-color: defines.$coolors1;
    color:defines.$coolors4 !important;
    display: flex;
    max-height: 40vh;
    text-align: center;
    border-radius: 2rem;
    cursor: pointer;
    > div {
        width: 50%;;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        display: inline-flex;
    }
    img 
    {
        border-radius: 1.5rem;
        max-width: 100%;
        max-height: 100%;
    }
    .info {
        > h2, > h1 
        {
            background-image:  linear-gradient(20deg,#7f7f81,#edf0f3,#7f8183);
            color: transparent;
            background-clip: text; 
        }
        padding:2rem;


    }
    margin-top: 2rem;
    padding:1rem;
    margin-bottom: 2rem;
}

.return-link {
    margin-top: 1rem;
    color: defines.$mainbright;
}

@media (max-width: 600px ) 
{
    header > div.header-content {
        padding:0.5rem;
    }
    .content {padding:0.5rem;}
    footer {padding: 0.5rem !important; }
    .cart { 
        padding:0.2rem;
    }
    .product-highlight {
        .info {
            padding:0.5rem;
            h2 {
                margin:0.2rem;
            }
        }
    }
}

.lowstock, .outofstock
{
    margin-left: 1rem;
    margin-right: 1rem;
}

.outofstock {
    color: defines.$tomatored;
}

.about {
    
    padding:1rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
    background-color: defines.$coolors1;
    color: white;
    h2 {
        padding-bottom: 0.5rem;
        border-bottom: 10px solid defines.$mainbright;
    }

    > div:last-child 
    {
        padding:1rem;
        img {
        margin-right: auto;
        margin-left: auto;
            max-width: 200;
        }
    }
}

.terms {
    padding:1rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
    background-color: white;
    li {
        font-family: "Oxanium", sans-serif;
        font-optical-sizing: auto;
        font-weight: 200; // Use a value from 200 to 800
        font-style: normal;
    }

}
