body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content {
    min-height: 80vh;
}

header {
    position: sticky;
    top:0;
}
 
header > div {
    padding: 1rem;
    color: #2D3142;
    background-color: white;
    border-bottom: 1px solid #EEEEEE;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;

}
header nav, header h2 {
    display: inline-block;
}
header nav {
    cursor: pointer;
}
header  h2 {
    margin:0;
    margin-left:1rem;
    color:#EF8354;
    font-size: xx-large;
}

header  nav:hover {
    border-bottom: 2px solid #EF8354;
}
header > ul {
    list-style-type: none;
    position: absolute;
    left:0;
    margin:0;
    min-width: 100px;
    background-color: #2D3142;
    color: white;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.2s ease;
    border-top: 2px solid #EF8354;
    padding: 3rem;
    min-width: 300px;
}

.cart {
    display: inline-block;
    margin-left: auto;
    padding:1rem;
}

header li {
    font-size: x-large;
    padding:1rem;
    border-bottom: 2px solid #BFC0C0;
}

.menu-open {
    transform: scaleY(1);
}

header a {
    text-decoration: none;
    color:white;
}


footer {
    background-color: #2D3142;
    padding:2rem;
    color:#4F5D75;
    display: flex;
    justify-content: flex-start;
}
footer ul, footer li {
    display: inline-block;
    font-size:larger;
}

footer li {
    margin-right: 1rem;
}
footer a {
    text-decoration: none;
    color: #4F5D75;
}
footer > img {
    /*position: absolute;*/
    /*right:0px;*/
    width: 250px;
    margin-left: auto;
}