
$menu-text-color: #262830;
$tomatored: #da3a16;
$mossgreen: #009933;
$maindark: #2D3142;
$mainbright: #46976D;
$mainbrightdark: #224131;
$mainbrightdarktext: #3b7055;
$mainbrightlight: #82b89c;


//$coolors1: #686963;
$coolors1: #2C2D2E;
//$coolors1: #0d0a0b;
$coolors2: #BFC0C0;
$coolors3: #FFFFFF;
$coolors4: #D2D7DC;
$coolors5: #4F5D75;
$inputcolor:#F5F5F5;
