@use 'defines';
@use 'cart';
@use 'layout';
@use 'media';

h1,h2,h3 
{
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
body {
    font-family: "Orbitron", sans-serif;
    background-color: defines.$inputcolor;
}
textarea, p {

  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200; // Use a value from 200 to 800
  font-style: normal;
}

a {
    text-decoration: none;
    color:inherit;
}

.content {
    background-color: defines.$inputcolor;
    min-height: 100vh;
    padding:2rem;
}

.close-container {
    $size: 40px;
    $width:  $size;
    $height: $size;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: auto;
    position: relative;
    width: $width;
    height: $height;
    cursor: pointer;
    .leftright, .rightleft {
        height: 4px;
        width: $width;
        position: absolute;
        margin-top: 20px;
        background-color: defines.$menu-text-color;
        border-radius: 2px;
        transition: all .3s ease-in;

    }
    .leftright { transform: rotate( 45deg); }
    .rightleft { transform: rotate(-45deg); }
    &:hover {
        .leftright, .rightleft { background-color: defines.$tomatored; }
        .leftright { transform: rotate(-45deg); }   
        .rightleft { transform: rotate( 45deg); }
    }
}

button {
    border: 0.2rem solid defines.$mainbright;
    color: defines.$mainbright;
    background: none;
    cursor: pointer;

    padding:1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    &:disabled {
        color: #efefef !important;
        border-color: #efefef !important;
        opacity: 0.1;
        cursor: not-allowed;
    }
}

button.red {
    border-color:defines.$tomatored ;
    background-color:defines.$tomatored ;
    color: white;
}
button.green {
    background-color:defines.$mainbright;
    border-color:defines.$mainbright ; 
    color: white;
}
.flex-start-container 
{
    display: flex;
    align-items: flex-start;
    :last-child {
        margin-left: auto;
    }
}
.front_page {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    h1 {
        color: defines.$coolors1;
    }
    a {
        text-decoration: none;
        color:black;
    }
}

.product_preview 
{
    display: inline-block;
    margin: 1rem;
    border-radius: 0.5rem;
    padding:0.5rem;
    background-color: white;
    width: 15rem;
    div.img_container {
        height: 15rem;
        img {
            border-radius: 0.5rem;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .footer {
        padding:0.5rem;
        display: flex;
        justify-content: left;
        span:first-child {
            font-weight: bold;
        }
        span:last-child {
            margin-left: auto;
        }
    }
}
.product-images{
    display: flex;
    align-items: start;
    .preview {
        > div {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
        }
        display: inline-block;
        width:10%;
        max-width:100px;
        .image_container {
            cursor: pointer;
            &:hover {
                opacity: 0.8;
            }
            margin:0.1rem;
            display: inline-block;
            > img {
                max-width: 100%;
                max-height: 100%;

            }
        }
    }
    .main {
        width:90%;
        display: inline-block;
        .image_container {
            margin:0.1rem;
            max-height: 80vh;
            position: relative;
            z-index: 0;
            .overlay {
                > div  {
                    height: 100%;
                    display: inline-block;
                    width:40%;
                    &:nth-child(1), &:nth-child(3)
                    {
                        position: relative;
                        & > div 
                        {
                                position: absolute;
                                background-color: white;
                                opacity: 0.8;
                                text-align: left;
                                &:before,
                                &:after {
                                	content: '';
                                	position: absolute;
                                    background-color: inherit;
                                }
                                &,
                                &:before,
                                &:after {
                                	width:  1em;
                                	height: 1em;
                                	border-top-right-radius: 30%;
                                }
                                & {
                                	transform: rotate(-150deg) skewX(-30deg) scale(1,.866);
                                }
                                &:before {
                                	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
                                }
                                &:after {
                                	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
                                }
                                top: calc( 50% ) ;
                                left: 0.5rem;
                        }
                        &:nth-child(3) > div
                        {
                            left: unset;
                            right: 0.5rem;
                            transform: rotate(30deg) skewX(-30deg) scale(1,.866);
                        }
                        cursor: pointer;
                        width: 30%;
                    }
                } 
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%
            }
            display: inline-block;
            > img {
                max-width: 100%;
                max-height: 80vh;
            }
        }
    }
}

.product {
    background-color: white;
    padding:1rem;
    border-radius: 0.5rem;
    .product-details {
        margin-left:0.5rem;
    }
    .price {
        font-weight: bold;
        font-size: x-large;
        margin-right: 1rem;
    }
    p {
        white-space: pre-wrap;
        max-width: 700px;
    }
}
.category-bar 
{
    margin-bottom: 0.5rem;
    color: defines.$coolors5;
    > span {
        &::before {
            content: '/';
        }

    }
}
.category-showcase 
{
   > h2 {
    color: defines.$coolors1;
   } 
    > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        > a {
            > div {
                background-image:  linear-gradient(20deg,#7f7f81,#edf0f3,#7f8183);
                color: transparent;
                background-clip: text; 
            }
            border-radius: 1rem;
            text-align: center;
            vertical-align: center;
            font-size: x-large;
            display: inline-block;
            width:200px;
            padding:2rem;
            margin:1rem;
            color:defines.$coolors3;
            font-weight: bold;
            background-color: defines.$coolors1;
        }
    }
}

.category {
    background-image:  linear-gradient(45deg,#7f7f81,#edf0f3,#7f8183);
    color: transparent;
    background-clip: text; 
}

.product-previews 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-highlight {
    background-color: defines.$coolors1;
    color:defines.$coolors4 !important;
    display: flex;
    text-align: center;
    border-radius: 2rem;
    cursor: pointer;
    > div {
        width: 50%;;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        display: inline-flex;
    }
    img 
    {
        max-height: 40vh;
        border-radius: 1.5rem;
        max-width: 100%;
        max-height: 100%;
    }
    .info {
        > h2, > h1 
        {
            background-image:  linear-gradient(20deg,#7f7f81,#edf0f3,#7f8183);
            color: transparent;
            background-clip: text; 
        }
        padding:2rem;
    }
    margin-top: 2rem;
    padding:1rem;
    margin-bottom: 2rem;
}

.return-link {
    margin-top: 1rem;
    color: defines.$mainbright;
}


.lowstock, .outofstock
{
    margin-left: 1rem;
    margin-right: 1rem;
}

.outofstock {
    color: defines.$tomatored;
}

.about {
    padding:1rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
    background-color: defines.$coolors1;
    color: white;
    h2 {
        padding-bottom: 0.5rem;
        border-bottom: 10px solid defines.$mainbright;
    }

    > div:last-child 
    {
        padding:1rem;
        img {
        margin-right: auto;
        margin-left: auto;
            max-width: 200;
        }
    }
}

.terms {
    padding:1rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
    background-color: white;
    li {
        font-family: "Oxanium", sans-serif;
        font-optical-sizing: auto;
        font-weight: 200; // Use a value from 200 to 800
        font-style: normal;
    }

}

.order-reference
{
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
    color: #7f8183;
}

.banner 
{
    text-align: center;
    padding:0.5rem;
    font-size: large;
    transform: scaleY(0);
    transform-origin: top;
    background-color: defines.$mainbright;
    color: white;
    transition: transform 0.1s ease-in-out;
    &.visible {
        transform: scaleY(1);
    }
}

.payment-options 
{
    display: flex;
    align-items: center;
    margin-left: auto;
    flex-wrap: wrap;
    img {
        width: 4rem;
    }
}