$layout-breakpoint-split: 1200px;

@media (max-width: 600px ) 
{
    header > div.header-content {
        padding:0.5rem;
    }
    .content {padding:0.5rem;}
    footer {padding: 0.5rem !important; }
    .cart { 
        padding:0.2rem;
    }
    .product-highlight {
        .info {
            padding:0.5rem;
            h2 {
                margin:0.2rem;
            }
        }

    }
}


@media (max-width: 700px)
{
    header {
        ul.menu {
            min-width: 300px;
        }
    }
    .product-highlight {
        flex-wrap: wrap;
        > div {width: unset !important; }
        .info {
            > h2, > h1 
            {
                margin:0.2rem !important;
            }
            padding:0.5rem !important;
        }
    }

}

@media (max-width: 650)
{
.product_preview 
{
    margin:0.2rem !important;
}

}

@media (max-width: 600px)
{
    header {
        ul.menu {
            padding: 2rem;
        }
    }
}
@media (max-width: 580px)
{
    .product_preview
    {
        width: 10rem !important;
        .img_container {
            height: 10rem !important;
        }
    }
}
@media (max-width: 500px)
{
    header {
        ul.menu {
            li {
                padding:0.5rem;
            }
        }
    }
}
@media (max-width: 450px)
{
    header {
        ul.menu {
            padding: 1rem;
        }
    }
    .product-highlight {
        .info {
            > h2, > h1 
            {
                font-size: medium;
            }
        }
    }
}
@media (max-width: 430px)
{
    .product_preview
    {
        .footer {flex-wrap: wrap;}
        width: 8rem !important;
        .img_container {
            height: 8rem !important;
        }
    }
}




@media (min-width: $layout-breakpoint-split) {
  .split-when-large {
    display: flex;
    justify-content: left;
    > div {
        display: inline-block;
        max-width: 50%;
    }
  }
}